@use "../../scss/base/variables" as v;
@use "../../scss/base/mixins" as m;

.sociales{
    margin-top: 5rem 0;
    display: flex;
    
    @include m.tablet{
        margin-top:0;
        
    }

    &__enlace{


        &::before{
            content:"";
            padding: 2rem;
            display: inline-block;           
        }
        
        &[href*="facebook.com"]::before{
            background-image: url(../../../../public/img-carolina-spa/icono_facebook.svg);
        }
        &[href*="twitter.com"]::before{
            background-image: url(../../../../public/img-carolina-spa/icono_twitter.svg);
        }
        &[href*="instagram.com"]::before{
            background-image: url(../../../../public/img-carolina-spa/icono_instagram.svg);
        }
        &[href*="youtube.com"]::before{
            background-image: url(../../../../public/img-carolina-spa/icono_youtube.svg);
        }
        &[href*="tiktok.com"]::before{
            background-image: url(../../../../public/img-carolina-spa/icono_tiktok.svg);
        }
        
    }

    &__accesible{
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border-top: 0;
        display: block;
    }


}